<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <%= params.care.name %>
    
    <% params.care.items.forEach(function(item) { %>
       <div> <%= item %> </div>
    <% }); %>
   
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>