<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <h2 class="center-text">CONSULTA AMBULATORIA NO URGENTE - POLICLINICA</h2>
    <div class="section">
       <div>
            Nombre :
          <%= params.Care.CarePatient.FirstName %>
          <%= params.Care.CarePatient.SecondName %>
          <%= params.Care.CarePatient.FirstSurname %>
          <%= params.Care.CarePatient.SecondSurname %>
       </div>
       <div>
            Edad:  <%= params.Care.CarePatient.Age %>
       </div>
       <div>
            Matricula :  <%= params.Care.CarePatient.RegistrationNumber %>
       </div>
       <div>
           Categoria : <%= params.Care.CarePatient.Category.Name %>
       </div>
       <div>
           Fecha Consulta: <%= params.Care.Date %>
       </div>
    </div>

     <!-- Care History Consultations-->
     <div class="section">
     <div><b>CONSULTAS</b></div>
     <% params.Care.History.forEach(function(item) { %>
        <br>
        <% if (item.Origin) { %>
            <div> Procedencia: <%= item.Origin.Name %> </div>
        <% } %>
        <% if (item.ConsultingReason) { %>
            <div> Motivo de la consulta: <%= item.ConsultingReason %> </div>
        <% } %>
        <% if (item.Anamnesis) { %>
            <div> Anamesis: <%= item.Anamnesis %> </div>
        <% } %>
        <% if (item.PhysicalExaminations) { %>
            <div> Examen Fisico: <%= item.PhysicalExaminations %> </div>
        <% } %>
        <% if (item.Diagnostics) { %>
            <div>Diagnóstico/Problema: <%= item.Diagnostics %> </div>
        <% } %>
        <% if (item.CareEvolution) { %>
            <div>Evolucion de Emergencia: <%= item.CareEvolution %> </div>
        <% } %>
        <% if (item.ReleaseIndications) { %>
            <div> Indicaciones al Alta de emergencia: <%= item.ReleaseIndications %> </div>
        <% } %>
        <% if (item.Destination) { %>
            <div>  Destino/Traslado: <%= item.Destination.Name %> </div>
        <% } %>

        <div> <b>Doctor</b>: <%= item.CareUser.Name %> </div>
        <div> <b>Fecha</b>: <%= item.Date %> </div>

     <% }); %>
     </div>

    <!-- Care Base-->
     <div class="section">
        <br>
           <% if (params.Care.Origin) { %>
               <div> Procedencia: <%= params.Care.Origin.Name %> </div>
           <% } %>
           <% if (params.Care.ConsultingReason) { %>
               <div> Motivo de la consulta: <%= params.Care.ConsultingReason %> </div>
           <% } %>
           <% if (params.Care.Anamnesis) { %>
               <div> Anamesis: <%= params.Care.Anamnesis %> </div>
           <% } %>
           <% if (params.Care.PhysicalExaminations) { %>
               <div> Examen Fisico: <%= params.Care.PhysicalExaminations %> </div>
           <% } %>
           <% if (params.Care.Diagnostics) { %>
               <div>Diagnóstico/Problema: <%= params.Care.Diagnostics %> </div>
           <% } %>
           <% if (params.Care.CareEvolution) { %>
               <div>Evolucion de Emergencia: <%= params.Care.CareEvolution %> </div>
           <% } %>
           <% if (params.Care.ReleaseIndications) { %>
               <div> Indicaciones al Alta de emergencia: <%= params.Care.ReleaseIndications %> </div>
           <% } %>
           <% if (params.Care.Destination) { %>
               <div> Destino/Traslado: <%= params.Care.Destination.Name %> </div>
           <% } %>
   
           <div> <b>Doctor</b>: <%= params.Care.CareUser.Name %> </div>
           <div> <b>Fecha</b>: <%= params.Care.Date %> </div>
    </div>

</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>